$buttonBackgroundPrimaryColor: $primaryColor;
$buttonTextPrimaryColor: $white;

$buttonBackgroundSecondaryColor: $secondaryColor;

.button {
    font-size: toRem(15);
    line-height: toRem(58);
    border-radius: 50px;

    &--theme {
        &-primary {
            background-color: $buttonBackgroundPrimaryColor;
            color: $white;
        }

        &-secondary {
            background-color: $buttonBackgroundSecondaryColor;
        }
    }

    &--type {
        &-text {
            padding: 0 toRem(30);
        }

        &-icon {
            position: relative;
            padding: 0;
            min-width: toRem(28);
            min-height: toRem(28);
            border-radius: 50%;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-text-icon {
            padding: 0 toRem(30 + 24) 0 toRem(30);
        }

        &-icon-text {
            padding: 0 toRem(30) 0 toRem(30 + 24);
        }
    }

    &__content {
        border-bottom: 1px solid transparent;
    }

    @include media_min_tablet {
        line-height: toRem(46);

        &--shape {
            &-standard {
                padding: 0 toRem(23);
            }
        }
    }
}
