@mixin newFont($family, $pathName, $weight) {
    @font-face {
        font-family: '#{$family}';
        src: url('/extreme_school/fonts/#{$pathName}.eot'); /* IE9 Compat Modes */
        src:
            url('/extreme_school/fonts/#{$pathName}.ttf') format('truetype'),
            url('/extreme_school/fonts/#{$pathName}.woff2') format('woff2'),
            url('/extreme_school/fonts/#{$pathName}.woff') format('woff');
        font-weight: #{$weight};
        font-style: normal;
        font-display: swap;
    }
}

//@include newFont('icon','/icons/iconfont', 400);
@include newFont('Raleway Cyrillic Font','raleway-v19-cyrillic-300', 300);
@include newFont('Raleway Cyrillic Font','raleway-v19-cyrillic-regular', 400);
@include newFont('Raleway Cyrillic Font','raleway-v19-cyrillic-500', 500);
@include newFont('Roboto Condensed','roboto-condensed-v19-latin-300', 300);

@include newFont('Icon', 'icons/webfont', 400)
