.card-question {
    background-color: rgba($blue, 0.04);
    padding: toRem(16) toRem(60) toRem(16) toRem(14);
    border-radius: toRem(8);
    position: relative;

    &__title {
        @include fontSize(p2);
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: toRem(14);
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 3;

        i {
            display: block;
            width: toRem(20);
            height: toRem(20);
            background-color: #cccccc;
            border-radius: toRem(4);
        }

        &::before {
            content: '';
            position: absolute;
            top: toRem(-10);
            left: toRem(-10);
            width: toRem(40);
            height: toRem(40);
            background-color: $blue;
            border-radius: 50%;
            z-index: -1;
            transition: opacity 0.3s ease;
            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}