.toggle {
    width: toRem(40);
    height: toRem(24);
    background-color: $secondaryColor;
    border-radius: toRem(24);
    padding: toRem(2);
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: toRem(20);
        height: toRem(20);
        border-radius: 50%;
        background-color: #fff;
        left: toRem(2);
    }

    &.active {
        background-color: $primaryColor;

        &::before {
            left: toRem(18);
        }
    }
}
