.collapse {
    &.active {
        .collapse__container {
            opacity: 1;
        }
    }

    &__container {
        transition: opacity 0.3s ease;
    }

    &__content {
        transition: height 0.3s ease;
    }
}
