.price-card {
    display: inline-block;
    padding-top: toRem(20);
    padding-bottom: toRem(35);
    background-color: #F8F8F8;
    border-radius: toRem(8);

    &--size {
        &-small {
            padding-left: toRem(24);
            padding-right: toRem(24);
            min-width: toRem(276);

            .price-card {
                &__section {
                    display: block;
                }
            }
        }

        &-medium {
            padding-left: toRem(132);
            padding-right: toRem(132);
            min-width: toRem(400);
        }

        &-large {
            padding-left: toRem(108);
            padding-right: toRem(108);
            min-width: toRem(560);
        }

        &-medium,
        &-large {
            text-align: center;
        }
    }

    &--align {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }
    }

    &__body {
        white-space: normal;
    }

    &__title {
        font-size: toRem(17);
        margin-bottom: toRem(24);
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: toRem(-3);
            height: 2px;
            background-color: $blue;
        }
    }

    &__information {
        text-align: center;
        white-space: normal;
    }

    &__section {
        display: inline-block;

        & + & {
            margin-top: toRem(30);
        }
    }

    .text {

        *:last-child {
            margin-bottom: 0;
        }

        h4 {
            margin-bottom: toRem(16);
            font-size: toRem(17);
            line-height: toRem(19.96);
        }

        p {
            font-size: toRem(17);
            line-height: toRem(19.96);
            font-weight: 400;
            margin-bottom: toRem(8);
        }
    }

    &__subtitle {
        margin-bottom: toRem(16);
        font-size: toRem(17);
        line-height: toRem(19.96);
    }

    &__count {
        font-size: toRem(17);
        line-height: toRem(19.96);
        font-weight: 400;

        & + & {
            margin-top: toRem(8);
        }
    }
}
