.intro {
    padding-top: toRem(108);
    padding-bottom: toRem(124);
    position: relative;
    overflow: hidden;

    i.icon::before {
        content: '\ea00';
        font-family: 'Icon', sans-serif;
        font-size: 24px;
    }

    &__container {
        position: relative;
        max-width: none;
    }

    &__inner {
        position: relative;
        z-index: 2;
        color: $white;
        width: ratio(374, 275);
        min-width: toRem(275);
    }

    &__image {
        position: absolute;
        top: toRem(-108);
        left: 0;
        bottom: toRem(-124);
        right: 0;
        background-size: cover;
        background-position: center;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    &__title {
        margin-bottom: toRem(14);
        font-weight: 300;
    }

    &__description {
        @include fontSize(p1);

        color: inherit;
        margin-bottom: toRem(40);
    }

    @include media_min_tablet {
        padding-bottom: toRem(79);

        &__inner {
            width: ratio(687, 275);
        }

        &__description {
            font-size: toRem(16);
            line-height: toRem(21);
        }

        &__image {
            top: toRem(-162);
            bottom: toRem(-79);
        }
    }

    @media (min-width: 1000px) {
        &__image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @include media_min_desktop {
        padding-top: toRem(162);
        padding-bottom: toRem(192);
        height: 100vh;
        box-sizing: border-box;

        &__container {
            height: 100%;
        }

        &__inner {
            width: toRem(373);
        }

        &__title {
            font-weight: 300;
        }

        &__description {
            font-size: toRem(20);
            line-height: toRem(28);
        }

        &__image {
            bottom: toRem(-192);

            img {
                height: 100%;
            }
        }
    }
}
