.title {
    &--size {
        &-h1 {
            @include fontSize(h1);
        }

        &-h2 {
            @include fontSize(h2);
        }

        &-h3 {
            @include fontSize(h3);
        }
    }

    &--align {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }
    }

    &--theme {
        &-default {
            color: $dark;
        }

        &-primary {
            color: $blue;
        }
    }

    u {
        position: relative;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: toRem(-4);
            width: 100%;
            height: 2px;
            border-radius: 12px;
            background-color: $white;
        }

        &.blue {
            color: $primaryColor;

            &::after {
                background-color: $primaryColor;
            }
        }

    }
}
