.price {
    padding-top: toRem(80);
    overflow: hidden;

    &__container {
        padding: 0;
    }

    &__inner {
        text-align: center;
    }

    &__title {
        margin-bottom: toRem(30);
    }

    &__tab-list,
    &__card-list {
        @include media_max_mobile {
            white-space: nowrap;
            overflow-x: scroll;
        }
    }

    &__wrapper {
        padding-left: toRem(20);
        padding-right: toRem(20);
    }

    &__tab, &__tab-button {
        display: inline-block;
        font-size: toRem(13);
        line-height: toRem(40);
        padding: 0 toRem(20);
        background-color: $backgroundLevel2;
        border-radius: toRem(50);
        color: $dark;
        margin-bottom: toRem(40);
        transition-property: background-color, color;
        transition: 0.3s ease;

        &.active {
            background-color: $blue;
            color: $white;
        }

        & + & {
            margin-left: toRem(10);
        }

        &:first-child {
            margin-left: toRem(20);
        }
    }

    &__tab-button {
        display: inline-block;

        // mozilla fix
        margin-right: toRem(20);
    }

    &__card-list {
        white-space: nowrap;
        margin-bottom: toRem(30);
    }

    &__card {
        min-width: ratio(373, 276);
        font-size: toRem(17);
        line-height: toRem(19.96);

        & + & {
            margin-left: toRem(16);
            background-color: rgba($blue, 0.04);
        }

        // mozilla fix
        &:first-child {
            margin-left: toRem(20);
        }

        &:last-child {
            margin-right: toRem(20);
        }
    }

    @include media_min_desktop {
        &__tab {
            cursor: pointer;
        }
    }
}
